#root {
  
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: greenyellow;
}


.search_box {
  display: flex;
  float: right;
  padding: 10px;
}

h1 {
  color: gray;
}

.icon {
  display: flex;
  float: left;
  margin-left: 20px;
  color: #f3b123;
}

 .item {
  display: flex;
  justify-content: space-between;
} 
 
img {
  display: grid;
  margin-left: 700px;
  width: 200px;
  border: solid black 10px;
  margin-bottom: 30px;
 
} 

 .description {
 display: grid;
 text-align: left;
 justify-content: left;
 width: 500px;
 margin-top: 30px;
  
 } 


h1 {
  color: black;
  margin-top: 50px;
}



.name {
  margin-right: 50px;
}
select {
  display: flex;
  margin-left: 425px;

}

.add {
  margin-right: 50px;
  margin-top: 10px;
}

/* .sort {
  display: flex;
  justify-content: space-evenly;
} */

.links {
  display: flex;
  margin-left: 400px;
  margin-right: 400px;
  justify-content: space-between;
  color: red;
}

.username {
  margin-bottom: 10px;
  
}

.sign-in {
  margin-top: 10px;
  margin-bottom: 10px;
}