#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  display: flex;
  background-color: greenyellow;
}

.base {
  display: flexbox;
}
.search_box {
  display: flexbox;
  float: right;
  padding: 10px;
  
  

}

.icon {
  display: flexbox;
  float: left;
  
  color: #f3b123;
}
